.lifestyle {
  width: 92%;

  margin: 0 auto;
  background-color: rgb(243, 221, 126);
}
.lifestyle h5 {
  font-size: 70px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.part-1,
.part-2,
.part-3 {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  gap: 30px;
}
.part-1 img,
.part-2 img
 {
  width: 200%;
}
.part-1 p,
.part-2 p,
.part-3 p {
  font-size: 33px;
  font-weight: 600;
}
.part-3 img {
    width: 50%;
}